{% extends 'base.html' %}
{% block container %}
    <div class="jztop"></div>
    <div class="container">
    <div class="bloglist f_l">
        {% for article in article%}
      <h3><a href="/textcontent/{{ article.id }}">{{ article.title }}</a></h3>
      <figure><img src="/static/{{ article.picture }}" alt=""></figure>
      <ul>
        <p> {{ article.content }}</p>
        <a title="{{ article.title }}" href="/textcontent/{{ article.id }}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ article.date }}</span><span>作者：{{ article.author }}</span><span>个人博客：[<a href="/jstt/bj/">{{ article.type.first }}</a>]</span></p>
    {% endfor %}
    </div>
    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_blank">我的电话</a></li>
            <li><a class="qq" href="#mailto:admin@admin.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_blank">我的QQ</a></li>
            <li><a class="prize" href="#">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <!--tit01 end-->

      <div class="tuwen">
        <h3 class="tit">图文推荐</h3>
          {% for recommend in recommend_article %}
        <ul>
          <li><a href="/textcontent/{{ recommend.id }}"><img src="/static/{{ recommend.picture }}"><b>{{ recommend.title }}</b></a>
            <p><span class="tulanmu"><a href="/textcontent/{{ recommend.id }}">{{ recommend.type.first }}</a></span><span class="tutime">{{ recommend.date }}</span></p>
          </li>
        </ul>
          {% endfor %}
      </div>
      <div class="ph">
        <h3 class="tit">点击排行</h3>
        <ul class="rank">
            {% for heat in heat_article %}
          <li><a href="/textcontent/{{ heat.id }}" title="/textcontent/{{ heat.id }}" target="_blank">{{ heat.content }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="ad"> <img src="/static/images/03.jpg"> </div>
    </div>
  </div>
    <!-- container代码 结束 -->
    <div class="jzend"></div>
{% endblock %}
